%% -*- erlang -*-

%% {require_otp_vsn, "R14B04|R15|R16"}.
{require_otp_vsn, "R16|17"}.

{sub_dirs, [
	"rel",
	"apps/ssam*"
]}.

{lib_dirs, [
	"/usr/local/erlang/r1601/lib",
	"deps",
	"apps"
]}.

{cover_enabled, true}.

{erl_opts, [
	debug_info,
	%% bin_opt_info,
	warn_format,
	warn_export_vars,
    warn_shadow_vars,
	warn_obsolete_guard,
	warn_unused_import,
	warn_bif_clash,
	warn_untyped_record,
	%% warn_missing_spec,
	%% warnings_as_errors,
	{src_dirs, [src]},
	{parse_transform, lager_transform}
]}.

{edoc_opts, [
	{preprocess, true},
	{dir, "../../doc"},
	{todo, true}
]}.

{eunit_opts, [
	verbose,
	{report, {eunit_surefire, [{dir, "."}]}}
]}.

{deps, [
	{riak_core, "1.4.*", {git, "git://github.com/tellet-io/riak_core", {tag, "1.4.9-patch1"}}},
	{riakc, ".*", {git, "git://github.com/tellet-io/riak-erlang-client", "master"}},
	{cowboy, ".*", {git, "git://github.com/tellet-io/cowboy.git", "master"}},
	{jiffy, ".*", {git, "git://github.com/tellet-io/jiffy.git", "master"}},
	{erlsom, ".*", {git, "git://github.com/tellet-io/erlsom.git", "master"}},
	{erlydtl, ".*", {git, "git://github.com/tellet-io/erlydtl.git", "master"}},
	{gen_smtp, ".*", {git, "git://github.com/tellet-io/gen_smtp.git", "master"}},
	{emysql, ".*", {git, "git://github.com/Eonblast/Emysql.git", "master"}}
	%{folsom_cowboy, ".*", {git, "git://github.com/mykook/folsom_cowboy.git", "master"}},
]}.
